<h1 style="color:green;text-align:center;"> 
    
</h1> 
<br><br>
<div class="container">
    <div class="card-group">

        <!--bootstrap card with 3 horizontal images-->
        <div class="row">
            <div class="card col-md-4" style="height:80%; background-color:bisque !important">
                <img class="card-img-top" src="..\assets\customer.jpg" style="height: 450px;">
                <br><br>
                <span style="text-align: center;"><a routerLink="../customerList"><span style="font-size: 30px; color: darkgoldenrod;">
                   Customers</span></a></span>
            </div>

            <div class="card col-md-4" style="height:80%; background-color:bisque !important">
                <img class="card-img-top" src="..\assets\engineer.jpeg" style="height: 450px;">
                <br><br>
                <span style="text-align: center;"><a routerLink="../engineerList"><span style="font-size: 30px; color: darkgoldenrod;">
                    Engineers</span></a></span>
            </div>
              
            <div class="card col-md-4" style="height:80%; background-color:bisque !important">
                <img class="card-img-top" src="..\assets\manager.jpg" style="height: 450px;">
                <br><br>
                <span style="text-align: center;"><a routerLink="../managerList"><span style="font-size: 30px; color: darkgoldenrod;">
                    Managers</span></a></span>
            </div>
        </div>
    </div>
</div>